<%- include('templates/header.ejs', {
    title: "JFL - Cursos",
    description:"Saiba mais sobre os nossos cursos "
}) %>

<main>

<section class="sectionCurso">
    <% cursos.forEach(item => { %>
      <figure>
        <div class="imgCurso"><img src="" alt=""></div>
        <div class="imgText">
        <h3><%= item.curso %></h3>
        <p><%= item.descripcion %></p>
      </div>
      </figure>
    <% }) %>
</section>


</main>

<%- include('templates/footer.ejs') %>