<%- include('templates/header.ejs', {
    title: "JFL - Instalaciones",
    description:"Conecta nuestra escolas la mejor estrutura para tu aprendizado "
}) %>

<main>

<section class="pagInstalaciones">
<% instalations.forEach(item => { %>
  <figure>
    <div class="imgInst"><img src=""alt=""></div>
    <p><%= item.nombre %></p>
  </figure>
<% }) %>

</section>


</main>

<%- include('templates/footer.ejs') %>