<%- include('templates/header.ejs', {
    title: "JFL - Instalaciones",
    description:"Conecta nuestra escolas la mejor estrutura para tu aprendizado "
}) %>

<main>

<section class="pagInstalaciones">
<% figureInsta.forEach(item => { %>
  <figure>
    <div class="ImgInst"><img src="<%= item.url %>" alt=""></div>
    <p><%= item.nombre %></p>
  </figure>
<% }) %>

</section>


</main>

<%- include('templates/footer.ejs') %>