<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= description %>">
    <link rel="stylesheet" href="css/main.css">
    <title><%= title %></title>
</head>

<body>

   


    <div class="displayGrid">
        <header>
            <h2>JFL Cursos</h2>
            <nav>
                <ul>
                    <li><a href="/">Index</a></li>
                    <li><a href="/cursos">Cursos</a></li>
                    <li><a href="/instalaciones">Instalaciones</a></li>
                    <li><a href="/profesores">Professores</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </nav>
            </header>

  